@font-face {
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Chewy Regular'), local('Chewy-Regular'), url(https://fonts.gstatic.com/s/chewy/v12/uK_94ruUb-k-wn52KjI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body{
    padding: 0;
    margin: 0;
    background-color: rgb(243, 234, 234);
}
.logo{
    width: 150px;
    margin-left: auto;
    margin-right:auto;
    padding-top: 10px;
}
.welcome-text{
    font-family: 'Chewy', cursive;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    font-size: 20px;
}
.welcome-text2{
    text-align: center;
    font-weight: 800;
    padding-top: 5px;
    font-size: 35px;
}
.continuea{
    margin-left: auto;
    margin-right: auto;
}
.continueBtn{
    margin-top: 40px;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid green;
    background: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: monospace;
    outline: none;
}
.continueBtn:focus{
    background-color: rgb(18, 235, 18);
}
.Video{
    width:95%;
    margin-top: 30px;
    border-radius: 15px;
    outline: none;
}
.video-section{
    text-align: center;
}
.button-section{
    text-align: center;
}
.Btns{
    margin-top: 25px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid green;
    background: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: monospace;
    outline: none;
}
.Btns:focus{
    background-color: rgb(0, 255, 0);
}
.secondText{
    text-align: center;
    font-weight: 800;
    padding-top: 5px;
    font-size: 35px;
    margin-top: 30px;
}
.secondLogo{
    width: 30%;
    margin-top: 20px;
}
.welcome-section{
    text-align: center;
}
.g4-text{
    font-family: 'Chewy', cursive;
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-size: 20px;
}
.g4-text1{
    text-align: center;
    font-weight: 900;
    padding-top: 5px;
    font-size: 35px;
}
.head-section{
    text-align: center;
}
.subText{
    font-size: 20px;
    margin-top: 5%;
}
.mainText{
    font-size: 300%%;
    font-weight: 900;
    text-align: center;
}
.char-section{
    text-align: center;
}
.card-body{
    background-color: rgb(233, 233, 233);
}
